//--------COLORS-----------
$background-color: #EDE9E3;
$main-color: #7E6D53;
$light-color: #FCFCFB;
$dark-color: #2D2A22;
$white: #FFFFFF;

//--------GRADIENT---------
$gorizontal-gradient: linear-gradient(269.46deg, #2D2A22 20.66%, #7E6D53 85.22%);
$vertical-gradient: linear-gradient(336.93deg, #2D2A22 5.7%, #7E6D53 108.98%);