<section class="about section" id="about">
  <div class="container about__container">
    <h2 class="visually-hidden" id="about">Philosophy of our company</h2>
    <div class="about__box">
      <ul class="about__list">
        <li class="about__item">
          <svg class="about__icon" width="32" height="32">
            <use href="./images/svg-sprite.svg#icon1"></use>
          </svg>
          <p class="about__text">15 years of experience</p>
        </li>
        <li class="about__item">
          <svg class="about__icon" width="32" height="32">
            <use href="./images/svg-sprite.svg#icon2"></use>
          </svg>
          <p class="about__text">30 thousand happy residents</p>
        </li>
        <li class="about__item">
          <svg class="about__icon" width="32" height="32">
            <use href="./images/svg-sprite.svg#icon3"></use>
          </svg>
          <p class="about__text">22 houses built</p>
        </li>
        <li class="about__item">
          <svg class="about__icon" width="32" height="32">
            <use href="./images/svg-sprite.svg#icon4"></use>
          </svg>
          <p class="about__text">9 awards</p>
        </li>
      </ul>
      <div class="about__right">
        <h4 class="about__title">Philosophy of our company</h4>
        <p class="about__desc">
          Residential complex “Nice view” is an island of tranquility, security
          and comfort. In our project, we created the opportunity to lead a
          measured life in the very center of the city.
        </p>
      </div>
    </div>
  </div>
</section>