<section class="apartments">
    <div class="apartments__wrapper container">
        <h2 class="apartments__title">Choose your apartment</h2>
        <ul class="apartments__list">
            <li class="apartments__item">
                <a class="apartments__link" href="">
                    <h3 class="apartments__subtitle">Type 1</h3>
                    <p class="apartments__desc">total area 23 meters</p>
                </a>
            </li>
            <li class="apartments__item">
                <a class="apartments__link" href="">
                    <h3 class="apartments__subtitle">Type 2</h3>
                    <p class="apartments__desc">total area 27 meters</p>
                </a>
            </li>
            <li class="apartments__item">
                <a class="apartments__link" href="">
                    <h3 class="apartments__subtitle">Type 3</h3>
                    <p class="apartments__desc">total area 31 meters</p>
                </a>
            </li>
        </ul>
        <button class="apartments__btn" type="button">Download catalog</button>
    </div>
</section>