<section>
    <div>
        <h2>Choose your apartment</h2>
        <ul>
            <li><a href="">
                <img src="" alt="">
                <h3>Type - 1</h3>
                <p>total area 23 meters</p>
            </a></li>
            <li><a href="">
                <img src="" alt="">
                <h3>Type - 2</h3>
                <p>total area 27 meters</p>
            </a></li>
            <li><a href="">
                <img src="" alt="">
                <h3>Type - 3</h3>
                <p>total area 31 meters</p>
            </a></li>
        </ul>
        <button>Download catalog</button>
    </div>
</section>