<section class="section">
  <div class="container">
    <h2 class="galley__title">Gallery</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swiper__slide-img">
          <img
            src="images/gallery/gallery1@1x.jpg"
            alt="slide-1"
            width="556"
            height="589"
          />
        </div>
        <div class="swiper-slide swiper__slide-img">
          <img
            src="images/gallery/gallery2@1x.jpg"
            alt="slide-2"
            width="556"
            height="589"
          />
        </div>
        <div class="swiper-slide swiper__slide-img">
          <img
            src="images/gallery/gallery3@1x.jpg"
            alt="slide-3"
            width="556"
            height="589"
          />
        </div>
        <div class="swiper-slid swiper__slide-img">
          <img
            src="images/gallery/gallery4@1x.jpg"
            alt="slide-4"
            width="556"
            height="589"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
