<section class="section">
  <div class="container">
    <h2 class="galley__title">Gallery</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper__wrapper">
        <!-- Slides -->
        <div class="#">
          <img src="#" alt="slide-1" width="77" height="130" />
        </div>
        <div class="#">
          <img src="#" alt="slide-2" width="159" height="174" />
        </div>
        <div class="swiper__slide swiper__slide-img">
          <img src="#" alt="slide-3" width="77" height="130" />
        </div>
        <div class="#">
          <img src="../images/gallery/" alt="slide-4" width="77" height="130" />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper__pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
