<section class="gallery section">
  <div class="container">
    <h2 class="gallery__title">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <img
          class="gallery__photo"
          src="images/gallery/mob_gall1@1x.jpg"
          alt=""
          width="77"
          height="130"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__photo"
          src="images/gallery/mob_gall2@1x.jpg"
          alt=""
          width="159"
          height="174"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__photo"
          src="images/gallery/mob_gall3@1x.jpg"
          alt=""
          width="77"
          height="130"
        />
      </li>
    </ul>
  </div>
</section>
