<header class="header">
    <div class="header__container container">
        <a class="logo" href="/">
            <svg class="logo__img" width="56" height="56">
                <use href=""></use>
        </a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Apartments</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Infrastructure></a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Gallery</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Contacts</a>
                </li>
            </ul>
            <button type="button">Contact us</button>
        </nav>
    </div>
</header>