<!-- модальное окно main -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-btn" type="button" data-modal-close>
            <svg class="modal-btn-icon" width="32" height="32">
                <use href="images/svg-sprite.svg#modal-close-main"></use>
            </svg>
        </button>

        <div class="modal-box">
            <p class="modal-title">Leave your contacts and we will contact you</p>
            <form name="modal-form">
                <label class="modal-form-label" for="user_name">Name</label>
                <div class="modal-form-group">
                    <input class="modal-form-field" type="text" name="user_name" id="user_name">

                </div>

                <label class="modal-form-label">Telephone</label>
                <div class="modal-form-group">
                    <input class="modal-form-field" type="text" name="user_phone" id="user_phone">

                </div>

                <label class="modal-form-label">Email</label>
                <div class="modal-form-group">
                    <input class="modal-form-field" type="text" name="user_email" id="user_email">

                </div>

                <button class="btn-modal" type="submit">Contact us</button>
            </form>
        </div>
    </div>
</div>