.btn-white-desk {
  font-family: 'Poppins';
  font-style: normal;
  width: 256px;
  height: 54px;
  padding: 9px 62px;

  font-weight: 300;
  font-size: 24px;
  line-height: calc(36 / 24);
  color: $dark-color;
  background-color: $light-color;
  border: 0;
  border-radius: 16px;
  text-align: center;
  margin: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $light-color;
    background-color: $main-color;
  }
}

.btn-main-color-desk {
  width: 264px;
  height: 58px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  color: $light-color;

  background-color: $main-color;

  border: 1рх transparent;
  border-radius: 16px;

  padding: 14px 39.5px;
  margin: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $main-color;
    color: $main-color;
    background-color: $light-color;
  }
}

.btn-dark-desk {
  width: 152px;
  height: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: $light-color;
  background-color: #2e2b23;

  border: 1px solid $light-color;
  border-radius: 8px;

  padding: 8px 30px;
  margin: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1рх transparent;
    color: $dark-color;
    background-color: $light-color;
  }
}

.btn-dark-desk-small {
  width: 224px;
  height: 54px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: calc(36 / 24);
  text-align: center;
  color: $main-color;
  background-color: $light-color;

  border: 1рх transparent;
  border-radius: 8px;

  padding: 9px 46px;
  margin: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $light-color;
    color: $light-color;
    background-color: $main-color;
  }
}

.btn-white-mobile {
  width: 200px;
  height: 50px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;

  color: $dark-color;
  background-color: $light-color;

  border: 0;
  border-radius: 16px;

  padding: 10px 45px;
  margin: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $light-color;
    background-color: $main-color;
  }
}

.btn-main-color-desk {
  width: 240px;
  height: 54px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(27 / 18);
  text-align: center;

  color: $light-color;
  background-color: $main-color;

  border: 1рх transparent;
  border-radius: 16px;

  padding: 13.5px 36.5px;
  margin: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $main-color;
    color: $main-color;
    background-color: $light-color;
  }
}

.btn-dark-mobile-small {
  width: 240px;
  height: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: $dark-color;
  background-color: $light-color;

  border: 1рх transparent;
  border-radius: 8px;

  padding: 12px 76px;
  margin: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $light-color;
    color: $light-color;
    background-color: $main-color;
  }
}

.btn-modal {
  width: 224px;
  height: 54px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(36 / 24);
  text-align: center;

  color: $light-color;
  background-color: $main-color;

  border: 0;
  border-radius: 8px;

  padding: 9px 46px;
  margin: 0;

  cursor: pointer;
}

.btn-modal-small {
  width: 192px;
  height: 48px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;

  color: $light-color;
  background-color: $main-color;

  border: 0;
  border-radius: 8px;

  padding: 12px 52px;
  margin: 0;

  cursor: pointer;
}
