.footer {
  color: $white;
  width: 100%;
  background-image: linear-gradient(
    269.46deg,
    #2d2a22 20.66%,
    $main-color 85.22%
  );

  &--link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: $white;
  }
}
.footer__container {
  width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: $gorizontal-gradient;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.footer__wrapper {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $tablet) {
    padding-top: 32px;
  }
}
// new block
.footer-logo {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    width: 25%;
  }
}
.footer-logo__link {
  margin-left: 0px;
  display: block;

  @media screen and (min-width: $desktop) {
    margin-left: 58px;
  }
}
.footer-logo__icon {
  fill: $white;
}

// new block
.footer-navigation {
  width: 50%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    width: 25%;
  }
}
.footer-navigation__title {
  margin-bottom: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.footer-navigation__list {
  display: flex;
  flex-direction: column;
}
.footer-navigation__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }
}
// new block
.footer-contacts {
  width: 50%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    width: 25%;
  }
}
// new block
.address {
  font-style: normal;
}
.address__title {
  margin-bottom: 16px;
  margin-bottom: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.address__item {
  overflow-wrap: break-word;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

// new block
.footer-media {
  display: flex;
  justify-content: end;
  margin-top: 28px;
  @media screen and (min-width: $tablet) {
    width: 25%;
    margin-top: 0;
  }
}
.footer-media__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    gap: 20px;
  }
  @media screen and (min-width: $desktop) {
    gap: 30px;
    margin-right: 74px;
  }
}

.footer-media__link {
  display: flex;
}
.footer-media__icon {
  fill: $white;
}
// new block
.footer-privacy {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 8px;
  &__descr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #979797;
  }

  &__link {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-decoration: underline;
    color: $white;
  }
}
.footer-privacy__link:first-child {
  margin-right: 5px;
  margin-left: 5px;
}
.footer-privacy__link:last-child {
  margin-left: 5px;
}
