.swiper {
  width: 600px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper__slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper__pagination {
  position: absolute;
  text-align: center;
  transform: 3s opasity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
