.header {
  background-image: linear-gradient(
    269.46deg,
    $dark-color 20.66%,
    $main-color 85.22%
  );
}

.header__container {
  display: flex;

  // tablet
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.logo {
  // tablet
  @media screen and (min-width: 768px) {
    margin: 22px 0;
  }

  // desktop
  @media screen and (min-width: 1280px) {
    margin: 22px 0;
  }
}

.logo__img {
  display: block;
  fill: #fcfcfb;
}

.nav__list {
  // tablet
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__link {
  // tablet
  @media screen and (min-width: 768px) {
    color: $light-color;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.nav__item:not(:last-child) {
  // tablet
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  // desktop
  @media screen and (min-width: 1280px) {
    margin-right: 48px;
  }
}

.btn-dark-desk {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
