.logo__img {
  fill: #fcfcfb;
}

.header__container {
  background-image: linear-gradient(
    269.46deg,
    $dark-color 20.66%,
    $main-color 85.22%
  );
}

.header__container {
  display: flex;
}

.nav__list {
  display: flex;
}
