.header__container {
  // tablet
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      269.46deg,
      $dark-color 20.66%,
      $main-color 85.22%
    );
  }

  // desktop
  @media screen and (min-width: 1280px) {
    justify-content: space-between;
  }
}

.logo {
  // tablet
  @media screen and (min-width: 768px) {
    margin: 22px 83px 22px 17px;
  }

  // desktop
  @media screen and (min-width: 1280px) {
    margin: 22px 0 22px 74px;
  }
}

.logo__img {
  fill: #fcfcfb;
}

.nav__list {
  // tablet
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__link {
  // tablet
  @media screen and (min-width: 768px) {
    color: $light-color;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.nav__item:not(:last-child) {
  // tablet
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  // desktop
  @media screen and (min-width: 1280px) {
    margin-right: 48px;
  }
}

.header__button {
  // tablet
  @media screen and (min-width: 768px) {
    display: none;
  }

  // desktop
  @media screen and (min-width: 1280px) {
    display: block;
    min-width: 152px;
    height: 40px;
    padding: 8px 30px;
    margin-right: 88px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: $light-color;

    background-color: #2e2b23;
    border: 1px solid #fcfcfb;
    border-radius: 8px;
    text-align: center;

    cursor: pointer;
  }
}
