.section.infrastructure {
  max-width: 1280px;
  background-color: #ede9e3;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 100px;
    padding-left: 32px;
    padding-right: 37px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1102px;
    padding-top: 124px;
  }
}

.inf-title-wrapper {
  background-color: #ede9e3;
  padding-bottom: 24px;
}

.inf-body-wrapper {
  padding-top: 40px;
  background-image: url(../images/infrastructure/mob_inf@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/infrastructure/mob_inf@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: url(../images/infrastructure/tab_inf@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/infrastructure/tab_inf@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    padding-right: 124px;
    background-image: url(../images/infrastructure/dsc_inf@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/infrastructure/dsc_inf@2x.jpg);
    }
  }
}

.inf__header {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: #7e6d53;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.inf__list {
  display: flex;
  list-style: none;
  margin: 0;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #fcfcfb;
  opacity: 0.8;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    max-width: 331px;
    margin-left: auto;
  }
}

.inf__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.inf__wrapper {
  border: 1px solid #2d2a22;
  width: 101px;
  height: 101px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  display: flex;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #2d2a22;
}

.inf__subtitle {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #7e6d53;
}
